.btn {
	font-weight: bolder;
	border-radius: 2px;
	border: solid 1px #00e0d0;
	background-color: transparent;
	font-family: 'HammersmithOne', sans-serif;
	font-size: 16px;
	color: #00e0d0;
	padding: 15px;
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
	transition: .2s;

	&:hover {
		background-color: #30a79f;
	}
}