.team {
	display: flex;

	&__item {
		width: 221px;
		padding-bottom: 28px;
		text-align: center;
		border: 1px solid rgba(250, 250, 250, 0.7);

		&-img {
			width: 220px;
			height: 229px;
		}

		&-name {
			margin-top: 20px;
			font-size: 14px;
			font-weight: 900;
			letter-spacing: 0.7px;
			line-height: 1;
			color: #fff;
		}

		&-prof {
			margin-top: 12px;
			font-size: 13px;
			font-weight: 300;
			line-height: 1;
			color: rgba(250, 250, 250, 0.7);
		}

		&:not(:last-child) {
			margin-right: 20px;
		}
	}
}