.header-link {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #808080;
	cursor: pointer;

	&__icon {
		position: relative;
		width: 21px;
		height: 21px;
		margin-right: 18px;
	}

	.icon-svg {
		fill: gray;
	}

	&__text {
		font-size: 14px;
		font-weight: 500;
		line-height: 2.14;
	}

	&--notify &__icon::after {
		position: absolute;
		top: -8px;
		right: -7px;
		content: '';
		display: block;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background-color: $blue;

	}

	&:not(:last-child) {
		margin-right: 35px;
	}

	&:hover {
		color: $blue;

		.icon-svg {
			fill: $blue;
		}
	}
}